{
  "storage": {
    "provider": "sqlite",
    "config": {
      "file": "data/sqlite/stocks.sqlite3"
    }
  },
  # "storage": {
  #   "provider": "mysql",
  #   "config": {
  #     "host": "localhost",
  #     "user": "stocks",
  #     "password": "stocks",
  #     "database": "stocks",
  #   }
  # },
  "logging": {
    "output": "console",
    "filename": "log-%(today)s",
    "level": "INFO"
  },
  "alphavantage": {
    "url": "https://www.alphavantage.co/query",
    "apikey": "demo"
  }
}
